/* black #191716 */
/* white #e8e2db */
/* yellow #e6af2e */
/* gray #beb7a4 */

* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;	
}

body {
	font-family: 'Roboto', sans-serif;
}

/** nav **/
nav ul {
	list-style-type: none;
	border-top: 6px solid #e6af2e;
	background-color: #191716;
}

nav ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 20px;
	padding: 15px 25px;
	color: #e6af2e;
}

nav ul li a:hover {
	color: #e8e2db;
}

.logo {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: #191716;
	background: #e6af2e;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
}

.logo:hover {
	color: #e6af2e;
	background-color:#e8e2db; 
}

.logo .i1 {
	display: none;
}

.logo .i2 {
	margin-left: 15px;
}

.item {
		display: none;
}

/** layout for desktop devices **/
@media screen and (min-width: 700px) {
	nav ul {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-between;
	}

	nav ul li {
		flex:1 0 auto;
	}

	.logo {
		display: block;
		text-align: center;
	}

	.logo .i1 {
		display: inline;
	}

	.logo .i2 {
		display: none;
	}

	.item {
		display: inline;
	}
}
/** end of nav **/

/** banner **/
#banner {
	min-height: 90vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
		url(../images/html.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column; /* fix for IE11 */
	align-items: center;
	justify-content: center;
}

.banner-text {
	font-size: 30px;
	text-transform: uppercase;
	color:#e8e2db;
	font-style: italic;
	margin-top: 100px;
}

.banner-underline {
	width:220px;
	border: 3px solid #191716;
	margin: 10px auto 20px auto;
}

.banner-btn { 
	display:flex;
	align-items: center;
	justify-content: center;
}

.banner-btn a {
	text-decoration: none;
	display: block;
	text-align: center;

	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	text-transform: uppercase;
	margin: 0 10px;
	background: transparent;
	color: #e6af2e;
	border: 2px solid #e6af2e;
}

.banner-btn a:hover {
	color: #e8e2db; 
	background: #e6af2e; 
}
/** end of banner **/

/** counter section **/
#counter {
	padding: 15px 0;
	background-color: #beb7a4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.counter-container {
	max-width: 100%;
	padding: 10px 10px;
	margin: 0,auto;
}

@media screen and (min-width: 900px) {
	.counter-container {
		max-width: 60%;
		padding: 10px 30px;
	}
}

.counter-title {
	font-size: 25px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	color:#191716;
	margin-bottom: 10px;
	text-align: center;
}

#counter input[type=text], select {
  font-size: 15px; 
  min-width: 100%;
  padding: 12px 20px;
  margin: 8px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 10px auto 0 auto;

	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	text-transform: uppercase;
	background: transparent;
	color: #191716;
	border: 2px solid #191716;
	outline: none;
}

input[type=submit]:hover {
  background-color: #e6af2e;
  color: #e8e2db;
  border: 2px solid #e6af2e;
  cursor: pointer;
}


/** end of counter section **/

/** results section **/
#result {
	background-color: #e8e2db;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result-container {
	min-width: 60%;
	padding: 0 30px;
	margin: 0,auto;
}

.result-title {
	font-size: 25px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	color:#191716;
	margin-bottom: 10px;
	text-align: center;
}

.result-text {
	margin-bottom: 15px;
}

.result-text p {
	font-weight: 500px;
	color:#191716;
	margin-bottom: 5px;
}

#result span {
	display: inline-block;
  	min-width: 50px;
  	padding: 5px 5px 5px 5px;
  	margin: 0 5px 0 5px;
	font-weight: bold;
	background-color: whitesmoke;
	text-align: center;
}

/* to set height for empty span*/
#result span:empty:before {
  content: "\00a0";
}

/** end of results section **/

/** about section **/
#about {
	background-color: whitesmoke;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-container {
	min-width: 90%;
	padding: 0 30px;
	margin: 0,auto;
}

.about-title {
	font-size: 25px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	color:#191716;
	margin-bottom: 20px;
	text-align: center;
}

.about-text p {
	font-weight: 500px;
	color:#191716;
	padding: 5px;
}

.about-text li {
	font-weight: 500px;
	color:#191716;
	padding: 5px;
	margin-left: 18px;
}
/** end of about section **/

/** footer section **/
#footer {
    min-height: 5vh;
    padding: 10px;
    background-color: #beb7a4;
    display: flex;
    align-items: center;
    justify-content: center;
}
/** end of footer section **/

/** modal section **/
#modal {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    right:0;
    height:100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
	background-color: #f4f4f4; 
	width: 90%;
	min-height: 300px;
	margin: 100px auto 0 auto;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
	0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-header {
	font-style: italic;
	padding: 15px;
	text-align: center;
	color: #191716;
	background-color: #e6af2e;
}

.modal-header h3 {
	margin: 0;
}

.close-btn {
	font-style: normal;
	color: #000;
	float: right;
	font-size: 30px;
	margin-top: -8px;
}

.close-btn:hover,.close-btn:focus {
	color: #ffff;
	text-decoration: none;
	cursor: pointer;
}

.modal-body {
	padding: 15px;
}

@media screen and (min-width: 700px) {
	.modal-content {
		width: 50%;
	}
}
/** end of modal section **/